<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>

    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="v11.0" />
            </parameters>
        </defaultConnectionFactory>

        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>

        <contexts>
            <context type="Aliencube.EntityContextLibrary.Tests.Models.ProductContext, Aliencube.EntityContextLibrary.Tests">
                <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[Aliencube.EntityContextLibrary.Tests.Models.ProductContext, Aliencube.EntityContextLibrary.Tests], [Aliencube.EntityContextLibrary.Tests.Migrations.Configuration, Aliencube.EntityContextLibrary.Tests]], EntityFramework" />
            </context>
        </contexts>
    </entityFramework>

    <connectionStrings>
        <clear />
        <add name="ProductContext" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ProductContext.mdf;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
        <add name="UserContext" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\UserContext.mdf;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="NSubstitute" publicKeyToken="92dd2e9066daa5ca" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.8.1.0" newVersion="1.8.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.1507.118" newVersion="4.2.1507.118" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>